@use '../../../_shared-utils.scss' as utils;

:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-card {
  @include utils.glass-card-styles;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  width: 50%;
  
  p {
    color: var(--mat-sys-on-surface-container);
  }

  mat-card-actions {
    gap: 1rem;

    a {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
      width: auto;

      fa-icon {
        font-size: 1.125rem;
      }

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--mat-sys-primary),
          var(--mat-sys-on-primary) 10%
        );
      }
    }
  }  

  @media (max-width: 768px) {
    width: 100%;

    mat-card-header, mat-card-content, mat-card-actions {
      margin: 0;
      padding: 0;

      p {
        margin: 1rem 0;
      }
    }

    mat-card-actions {
      align-items: center;    
      display: flex;
      flex-direction: column; 
      margin-top: 1.5rem;
      width: 100%;            
      
      a {
        margin: 0;
        max-width: 280px; 
        width: 100%;
      }
    }
  }
}
