@use '../../../_shared-utils.scss' as utils;

:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-card {
  @include utils.glass-card-styles;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 50%;

  h1, p {
    color: var(--mat-sys-on-surface-container);
    margin: 1rem 2rem;
  }

  .contact-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 2rem;
    
    a {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
      max-width: 280px;
      width: 100%;

      fa-icon {
        font-size: 1.125rem;
      }

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--mat-sys-primary),
          var(--mat-sys-on-primary) 10%
        );
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;

    .contact-actions {
      align-items: center;
      flex-direction: column;

      a {
        display: flex;
        justify-content: center;
        max-width: 280px;
        width: 100%;

        fa-icon {
          font-size: 1.2rem;
        }
      }
    }
  }
}
