main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin-top: 80px;
  
  app-about-me, 
  app-projects, 
  app-contact {
    scroll-margin-top: 80px;
  }
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
