@use '../../../_shared-utils.scss' as utils;

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
}

.project-card {
  @include utils.glass-card-styles;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 2rem;
  min-width: 49%;

  p {
    color: var(--mat-sys-on-surface-container);
  }

  a {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    width: auto;

    fa-icon {
      font-size: 1.125rem;
    }

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--mat-sys-primary),
        var(--mat-sys-on-primary) 10%
      );
    }
    
  }

}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }

  .project-card {
    width: 100%;
    min-height: auto;
    margin: 0;

    mat-card-actions {
      flex-direction: column;
      align-items: center;
      
      a {
        width: 100%;
        max-width: 280px;
      }
    }
  }
}
